.add-todo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.add-todo input{
    height: 30px;
    border-radius: 3px;
    font-size: 17px;
    padding: 6px;
}
.urgent-container{
    display: flex;
    justify-self: start;
    align-items: center;

}
.urgent-container span{
font-size: 20px;
font-weight: 600;
}
.urgent-container input{
    width: 15px;
    height: 15px;
}
.add-todo button{
  
    background: green;
    color: white;
    height: 35px;
    font-size: 16px;
    font-weight:600;
    padding: 6px;
    border: none;
    border-radius: 3px;
}